#game-view {
    padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 250px;
	gap: 10px;
}

.game-buttons {
    flex-direction: row;
    display: flex;
    align-items: center;
}